server:
  port: ${PORT}

spring:
  application:
    name: apigateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: gastro-review-route
          uri: lb://gastro-review
          predicates:
            - Path=/gastroreview/**
          filters:
            - StripPrefix=1

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://eurekaserver-lzph.onrender.com/eureka/

  instance:
    prefer-ip-address: true
